body {
  font-family: sans-serif;
  padding-bottom: 35px;
  background-color: #81ecec;
}

.nav-header{
  height: 65px;
}

.card-box{
  border-radius: 25px;}

.comment-form {
  margin-top: 1rem;
}

#login-sign-in-link, #login-buttons a {
  text-decoration: none !important;
}